<div class="container px-8 px-sm-12">
  <div class="row">
    <div class="col">
      <h5 class="bg-secondary d-inline px2">商品新規登録</h5>
      <%= form_with model:@item, local:true do |f| %>
        <%= f.label :商品名 %>
        <%= f.
    </div>
  </div>
</div>