<div class="container px-8 px-sm-12 mx-auto">
  <div class="row">
    <div class="col">
      <h1>About</h1>
      <i>ながのCAKEは全国発送可能なケーキ屋です。</br>
         お子様からお年寄りの方までお召し上がりいただけるよう</br>
         様々なバリデーションを用意しております。</br>
         また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
         ぜひご注文ください。
      </i>
    </div>
  </div>
</div>