<div class="container px-8 px-sm-12 mx-auto">
  <div class="row">
    <%= render 'items/genre', genres: @genres %>
    <div class="col">
      <span class="border border-dark">
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
      </span>
    </div>
  </div>
</div>