<div class="container px-8 px-sm-12 mx-auto">
  <div class="row">
    <div class="col">
      <h4 class="bg-secondary d-inline px2">注文情報入力</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>