<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'items/genre', genres: @genres %>
    </div>
    <% @items.each do |f| %>
    <div class="col-md-4">
    </div>
    <% end %>
  </div>
</main>